/* src/FormComponent.css */
form {
    max-width: 600px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #fff;
  }
  
  div {
    margin-bottom: 1em;
  }
  
  label {
    margin-bottom: .5em;
    color: #333333;
    display: block;
  }
  
  input,
  select {
    border: 1px solid #CCCCCC;
    padding: .5em;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 1em;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
  }
  .history-button {
    display: block;
    
    margin:20px 500px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  span {
    color: red;
    font-size: 0.9em;
  }
  